<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow mt">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h2 class="myt text-center">Register</h2>
                        </div>
                        <div class="p20">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                    </div>
                        
                        <div class="row text-center">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary text-center mb10" (click)="register()">Register</button><br>
                                <a href="/login" style="text-decoration: none;">Have an account ? <span class="text-danger">Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>