<mat-toolbar>
    <span class="text-center ">Employee Firebase</span>
</mat-toolbar><br>


<div class="row">
    <div class="col-md-6 mx-auto">
        
        <mat-card>
                <h1 style="color: brown;" class="mt-5 text-center">Create Employee </h1>
            <form [formGroup]="emp.form" (ngSubmit)="createemp()">
                <div class="admincontrol">
                    <input  type="hidden" formControlName="$key">
                    <mat-form-field appearance="outline" color='warn' style="width: 100%;">
                        <mat-label>
                            Employee Name
                        </mat-label>
                        <input matInput formControlName="employeename" required>
                        <mat-error *ngIf="checkError('employeename', 'required')">Name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn" style="width: 100%;">
                        <mat-label>Employee Email</mat-label>
                        <input matInput formControlName="empoyeeemail" required>
                        <mat-error *ngIf="checkError('empoyeeemail', 'required')">Email is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn" style="width: 100%;">
                        <mat-label>Employee Phonenumber</mat-label>
                        <input matInput formControlName="employeephonenumber" required>
                        <mat-error *ngIf="checkError('employeephonenumber', 'required')">Phonenumber is required</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="checkError('employeename', 'required') ||
                     checkError('empoyeeemail', 'required')||
                      checkError('employeephonenumber', 'required')"> Submit</button>
                </div>
            </form>
        </mat-card>

    </div>

</div>